.slider {
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.slider__active {
    width: 400px !important;
    padding-left: 20px;
}

.slider h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.slider__actions {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.slider__actions div {
    width: 100px;
    text-align: center;
    border: 2px solid #4C54D2;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.slider__actions div:hover{
    cursor: pointer;
}

.slider__actions div i {
    font-size: 1.5rem;
}

.slider__actions div h5 {
    font-size: .7rem;
}
/* If Slider Is Active */
.slider__action__active{
    background-color: #4C54D2;
}